<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @message.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @message.name %>
</p>

<p>
  <strong>Top:</strong>
  <%= @message.top %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @message.drink %>
</p>

<p>
  <strong>Coldstarter:</strong>
  <%= @message.coldstarter %>
</p>

<p>
  <strong>Warmstarter:</strong>
  <%= @message.warmstarter %>
</p>

<p>
  <strong>Soup:</strong>
  <%= @message.soup %>
</p>

<p>
  <strong>Seafood:</strong>
  <%= @message.seafood %>
</p>

<p>
  <strong>Main:</strong>
  <%= @message.main %>
</p>

<p>
  <strong>Dessert:</strong>
  <%= @message.dessert %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
