<p>
  <%= @callmessage %>
</p>


<ul>
  <li><%= link_to 'ドリンク', drink_path(params[:code]), method: :GET %></li>
  <li><%= link_to '冷前菜', coldstarter_path(params[:code]), method: :GET %></li>
  <li><%= link_to '温前菜', warmstarter_path(params[:code]), method: :GET %></li>
  <li><%= link_to 'スープ', soup_path(params[:code]), method: :GET %></li>
  <li><%= link_to '魚料理', seafood_path(params[:code]), method: :GET %></li>
  <li><%= link_to '肉料理', main_path(params[:code]), method: :GET %></li>
  <li><%= link_to 'デザート', drink_path(params[:code]), method: :GET %></li>
</ul>